.ControllerButtons__Button {
    background-color: transparent;
    user-select: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px 24px;
    border: none;
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow:  7px 7px 14px #b3b3b3,
                 -7px -7px 14px #ffffff;
}

.ControllerButtons__PredictButton {
    color:  #0069c0;
}

.ControllerButtons__ClearButton {
    color: #ba000d;
}

@media (hover: hover) {
    .ControllerButtons__Button:hover {
        border-radius: 16px;
        background: #e0e0e0;
        box-shadow:  inset 7px 7px 14px #b3b3b3,
                     inset -7px -7px 14px #ffffff;
    }
}

@media (hover: none) {
    .ControllerButtons__Button:active {
        border-radius: 16px;
        background: #e0e0e0;
        box-shadow:  inset 7px 7px 14px #b3b3b3,
                     inset -7px -7px 14px #ffffff;
    }
}
