.ControllerButtons__Button {
    font-size: 1em;
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    user-select: none;
}

.ControllerButtons__PredictButton {
    font-weight: bold;
    border: 1px solid #6ec6ff;
    color:  #6ec6ff;
}

.ControllerButtons__ClearButton {
    border: 1px solid #ff7961;
    color: #ff7961;
}

@media (hover: hover) {
    .ControllerButtons__Button {
        transition: background-color .2s, color .2s;
    }

    .ControllerButtons__PredictButton:hover {
        background-color: #0069c0;
        border: 1px solid #0069c0;
        color: #ffffffdd;
    }

    .ControllerButtons__ClearButton:hover {
        background-color: #ba000d;
        border: 1px solid #ba000d;
        color: #ffffffee;
    }
}

@media (hover: none) {
    .ControllerButtons__Button {
        transition: background-color .3s, color .3s;
    }

    .ControllerButtons__PredictButton:active {
        background-color: #0069c0;
        border: 1px solid #0069c0;
        color: #ffffffdd;
    }
    
    .ControllerButtons__ClearButton:active {
        background-color: #ba000d;
        border: 1px solid #ba000d;
        color: #ffffffee;
    }
}